#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

h1 {
    color: dimgray;
    margin-bottom: 20px;
}